<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div class="new-movie-container">
  <%= link_to "Add new movie", new_movie_path %>
</div>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    
  <% end %>
</div>


