<h1>New movie</h1>


<div class="container">
  <%= render "form", movie: @movie %>
</div>


<div class="actions" style=" font-size:15px; text-align: center; margin-top: 10px;">
  <%= link_to 'Back', movies_path, class: 'actions' %>
</div>

